---
import type { MarkdownHeading } from "astro"
import Layout from "./main.astro"

interface Props {
  title: string
  description: string
  pubDate: Date
  updatedDate?: Date
  heroImage?: string
  tags?: string[]
  headings: MarkdownHeading[]
}

const { title, description, pubDate, updatedDate, heroImage, tags, headings } =
  Astro.props

const filteredHeadings = headings.filter((h) => h.depth > 1 && h.depth < 4)
---

<Layout title={title}>
  <div class="relative mx-auto max-w-2xl px-6 py-12">
    <article>
      <header class="mb-8 text-center">
        <div
          class="mb-2 flex items-center justify-center gap-2 text-sm text-muted-foreground italic"
        >
          <time datetime={pubDate.toISOString()}>
            {
              pubDate.toLocaleDateString("pt-BR", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </time>
        </div>

        <h1
          class="mb-4 text-3xl font-semibold tracking-tight text-balance text-foreground sm:text-4xl"
        >
          {title}
        </h1>

        {
          description && (
            <p class="text-lg text-muted-foreground sm:text-xl">
              {description}
            </p>
          )
        }
      </header>

      {
        heroImage && (
          <img
            src={heroImage}
            alt=""
            class="mb-8 aspect-video w-full rounded-xl object-cover shadow-lg"
          />
        )
      }

      <div class="prose dark:prose-invert max-w-none">
        <slot />
      </div>

      <footer class="mt-12 border-t pt-8">
        <a href="/" class="text-sm font-medium text-primary hover:underline">
          ← Voltar para a página inicial
        </a>
      </footer>
    </article>

    {
      filteredHeadings.length > 0 && (
        <aside class="absolute top-0 left-full ml-12 hidden h-full w-64 font-sans xl:block">
          <div class="sticky top-24 border-l border-foreground/5 py-2 pl-6">
            <p class="mb-4 font-sans text-sm leading-none font-semibold tracking-tight text-foreground">
              Nesta página
            </p>
            <nav>
              <ul class="space-y-3">
                {filteredHeadings.map((heading) => (
                  <li style={`padding-left: ${(heading.depth - 2) * 1}rem`}>
                    <a
                      href={`#${heading.slug}`}
                      class="block text-sm leading-tight font-medium text-muted-foreground transition-colors hover:text-foreground"
                    >
                      {heading.text}
                    </a>
                  </li>
                ))}
              </ul>
            </nav>
          </div>
        </aside>
      )
    }
  </div>
</Layout>
